/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    font-family: Mon;
    background-color: #cc861d;
    color:white;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

#logo{
    height: 100px;
    width: 100px;
    border-radius: 55%;
    
}

.miniatura{
    width: 80px;
    height: 80px;
    border-radius: 25px;
}

.navbar-index{
    margin: 0;
    padding: 0;
    
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #8b3a0a;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(165, 71, 9, 0.5);
}

.logo-nav{height: 60%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e2ba64;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #422804;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8b3a0a;
    ;
    border: 1px solid rgb(223, 220, 39);
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #8b3a0a;
    border: 1px solid rgb(63, 26, 5);
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #c7703e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c7703e;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #c7703e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c7703e;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #fdab13;
    color: #381f0a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

a:hover {
    background-color: #86571a;
    color:#bba57c
}